* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: #121a12;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.section-description {
  padding: 9.6rem 0;
}

.description {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem 0;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: rgb(0, 0, 0);
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.description-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  text-align: justify;
  padding: 15px;
  background-color: rgb(247, 234, 252);
  border-radius: 10px;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 150px;
  transition: all 1s;
}

.btn--outline:link,
.btn--outline:visited {
  color: black;
  border: solid 3px rgb(0, 252, 42);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: rgb(0, 252, 42);
  color: #fff;
  box-shadow: 0 0 0 3px;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#big_logo {
  width: 500px;
  height: auto;
  max-width: 60%;
  margin-right: 20px;
  border-radius: 20px;
  border: 2px solid rgb(150, 0, 0);
}

.margin-right-sm {
  margin-right: 1.6rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

.header .main-nav {
  justify-content: space-between;
  align-items: center;
  max-width: 126rem;
  width: 100%;
  margin: 0 auto;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 2rem;
  background-color: #ffffff;
  border-radius: 10%;
  border: 1px solid rgb(150, 0, 0);
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 6.4rem;
  color: rgb(0, 0, 0);
  padding: 10px;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 2.4rem;
  font-weight: bold;
  transition: all 0.5s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: rgb(200, 0, 0);
}

.section-projects {
  padding-bottom: 10rem;
  color: black;
  background-color: rgb(237, 244, 255);
}

.projects {
  font-size: 3.6rem;
  text-align: justify;
}

.title {
  text-align: center;
  font-size: 5rem;
  padding: 6rem;
}

.container {
  max-width: 130rem;
  padding: 0 4.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.section-certs {
  padding: 4.8rem;
}

.certs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  background-color: rgb(255, 144, 144);
  padding: 15px;
  border-radius: 10px;
}

.certs-img {
  max-width: 400px;
  height: auto;
}

.certs-text {
  color: #fff;
  font-size: 2rem;
  line-height: 1.8;
  max-width: 500px;
  text-align: justify;
  margin: 0 auto;
  padding: 1rem;
}

footer {
  padding: 2rem;
  text-align: center;
  font-size: 3.6rem;
  margin-top: auto;
  color: white;
  background-color: rgb(150, 0, 0);
}

.footer-text {
  font-size: 1.8rem;
  text-align: center;
}

.icon {
  color: rgb(255, 255, 255);
}
